:root {
  /*### Primary*/

  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);

  /*### Neutral*/

  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Cream);
}

.principal{
    margin: 25px 15px;
    border-radius: 10px;
    background-color: var(--White);
    height: 600px;
}

.perfume{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.content{
    margin: 20px;
}

h2{
    font-family: 'Montserrat';
    font-size: 13px;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    margin-bottom: 10px;
}

h1{
    font-family: 'Fraunces';
    font-size: 33px;
    line-height: 32px;
    margin-bottom: 15px;
}

.description{
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    font-size: 14.5px;
    margin-bottom: 20px;
    line-height: 22px;
}

.content div{
    display: flex;
    font-family: 'Fraunces';
    align-items: center;
    margin-bottom: 15px;
}

.content div p{
    font-size: 30px;
    color: var(--Dark-cyan);
    font-weight: 700;
    margin-right: 15px;
}

.content div del{
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
}

button{
    display: flex;
    justify-content: center;
    border: 0;
    background-color: var(--Dark-cyan);
    color: var(--White);
    font-family: 'Montserrat';
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 25px;
}

button img{
    margin-right: 12px;
}